apiVersion: apps/v1
kind: Deployment
metadata:
  name: docker-app-deployment
  labels:
    app: docker-app
spec:
  replicas: 3
  selector:
    matchLabels:
      app: docker-app
  template:
    metadata:
      labels:
        app: docker-app
    spec:
      containers:
        - name: docker-app
          image: hittten/docker-app:1.0.0
          ports:
            - containerPort: 80
